/* Applicable to everything on the page */
* {
  box-sizing: border-box;
  color: black;
  font-family: "Trebuchet MS", Tahoma, Arial, Verdana, sans-serif;
  font-size: 1vw;
  z-index: 1;
  text-align: center;
}

/* Variables for the colors of the page */
:root{
  --border: #000000;
  --highlight: navy;
  --hover: #ec18ff;
  --lightblue: #16e4ff;
  --darkblue: darkblue;
  --imagetext: rgb(236, 229, 229);

}

/* Navigation home bar and effects */
nav#home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
  gap: 10rem;
}

header nav a {
  font-size: 1.5rem;
  text-decoration: none;
  line-height: 150%;
  font-weight: bold;
}

header nav a:hover {
  text-shadow: var(--hover) 0 0 .12rem;
}

/* Picture of myself */
figure img {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  height: 35rem;
  width: 24rem;
  margin-left: 12rem;
}

/* My first name set to vertical font aligned next to my picture */
.fname {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 36rem;
  margin-top: -27rem;
  font-family: 'Brush Script MT', cursive; 
  font-weight: bold;
  font-size: 5.5rem;
}

/* Keywords to describe myself aligned on the right side wrapped in a radiused box with hover effects*/
.snippet {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: -20rem 12rem auto auto;
  gap: 1.5rem;
  width: 40rem;
  height: 20rem;
}

.snippet div {
  border: .2rem solid var(--border);
  border-radius: .6rem;
  padding: .25rem;
  padding-left: .5rem;
  padding-right: .5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.snippet div:hover {
  box-shadow: 0 0 .5rem .05rem var(--hover);
  text-shadow: var(--hover) 0 0 .2rem;
}

/* Border box design and hover effects */
.border {
  outline: .2rem solid var(--border);
  border-radius: 1.5rem;
  margin: 3rem 20rem 1rem 20rem;
}

.border:hover {
  box-shadow: 0 0 1rem .3rem var(--hover);
}

.border:hover h1,
.border:hover h2,
.border:hover h3,
.border:hover h4 {
  text-shadow: var(--hover) 0 0 .3rem;
}

article:hover p {
  text-shadow: var(--hover) 0 0 .5rem;
}

.headline, span {
  text-shadow: var(--hover) 0 0 .12rem;
} 

/* Setting the h1, h2, h3, h4 tags to correct size */
h1,
h2,
h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.75rem;
}

/* About me section */
#about-me {
  line-height: 1.25rem;
  padding: 1rem;
}

.border h1 {
  margin-bottom: 1rem;
}

/* Sub-header for about-me */
.headline p {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: var(--highlight);
}

#about-me span{
  color: var(--highlight);
}

/* Project boxes/images/text */
#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Projects heading and paragrap text size and color */
article p {
  font-size: 1.5rem;
}

article p,
article h2,
article h3 {
  color: var(--imagetext);
}

/* Setting project box size */
.box1.border {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 82rem;
}

.box2.border {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 20rem;
  align-items: center;
}

.box3.border {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 40rem;
  align-items: center;
}

/* Setting project image size to box size and setting image brightness */

.box1.border img {
  width: 82rem;
  height: 20rem;
  border-radius: 1.5rem;
  filter: brightness(45%);
}

.box2.border img {
  height: 20rem;
  width: 30rem;
  border-radius: 1.5rem;
  filter: brightness(45%);
}

.box3.border img {
  height: 40rem;
  width: 30rem;
  border-radius: 1.5rem;
  filter: brightness(45%);
}

/* Setting project header size and location */
.box1.border h2,
.box2.border h3 {
  position: absolute;
  justify-content: center;
  margin: 4rem auto;
}

.box3.border h3 {
  position: absolute;
  justify-content: center;
  margin: 10rem auto;
}

/* Setting project paragraph size and location */
.box1.border p {
  position: absolute;
  justify-content: center;
  margin: 9rem auto;
  width: 50rem;
}
  
.box2.border p {
  position: absolute;
  justify-content: center;
  margin: 9rem auto;
  width: 25rem;
  align-content: center;
}

.box3.border p {
  position: absolute;
  justify-content: center;
  margin: 15rem auto;
  width: 25rem;
  align-content: center;
}


/* Contact box design and hover effects */
#contact .border {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 7rem;
  width: 45rem;
}

#contact .border div {
  display: inline-flex;
  gap: 10rem;
}

#contact .border h4 {
  justify-content: center;
  margin: 1rem auto;
}

#contact .border a {
  text-decoration: none;
  width: 5rem;
  margin: 0 auto;
  font-size: 1.25rem;
  font-weight: bold;
}

#contact .border a:hover {
  text-shadow: var(--hover) 0 0 .25rem;
}

/* Footer design and hover effects */

footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 3rem;
  background-color: var(--lightblue);
}

footer nav a {
 text-decoration: none;
}

footer nav a:hover {
  text-decoration: underline solid black .1rem;
}

/* Screen size 992px and smaller */
@media screen and (max-width: 992px){
  
/* Increasing font size*/
  * {
    font-size: 1.25vw;
  }

/* Reducing margins to view everything in the viewport */
  figure img {
    margin-left: 3rem;
  }

  .fname {
    margin-left: 27rem;
  }

  .snippet {
    margin: -20rem 3rem auto auto;
  }

/* Reducing size of first project to fit the viewport */
  .box1.border,
  .box1.border img {
    width: 70rem;
  }

/* Reducing margin size of about-me to fit the viewport*/
  #about-me {
    margin: 3rem 15rem 2rem 15rem;
  }
}

/* Screen size 768px and smaller */
@media screen and (max-width: 768px){

/* Increasing font size*/
  * {
    font-size: 1.5vw;
  }

/* Reducing margins to view everything in the viewport */
  figure img {
    margin-left: 1rem;
  }

  .fname {
    margin-left: 25rem;
  }

  .snippet {
    margin: -20rem 1rem auto auto;
    width: 30rem;
  }

/* Reducing size of first project to fit the viewport */
  .box1.border,
  .box1.border img {
    width: 55rem;
  }

/* Reducing margin size of about-me to fit the viewport*/
  #about-me {
    margin: 3rem 10rem 2rem 10rem;
  }

}

/* Screen size 576px and smaller */
@media screen and (max-width: 576px){
  
/* Increasing font size*/
  * {
    font-size: 1.75vw;
  }

/* Reducing margins to view everything in the viewport */
  .snippet {
    width: 23rem;
  }

/* Reducing size of first project to fit the viewport */
  .box1.border,
  .box1.border img {
    width: 50rem;
  }
}